<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web sockets ftw</title>
    <link rel="stylesheet" href="/assets/styles/styles.css">
</head>
<body>
    <div class="chat">
        <div class="message-log" id="message-log">
        </div>
        <div class="user-input">
            <textarea id="user-input"></textarea>
        </div>
        
        <button class="send" id="send" disabled>send</button>
    </div>
    <script src="/assets/scripts/websock.js"></script>
</body>
</html>
